
/* THe new test tree */

#FamilyTreeDiv{
    & *, ::after, ::before {
        box-sizing: content-box!important;
      };
    overflow-x: scroll;
}
.names{
    display: inline-flex;
    position: relative;
    gap: 0px;
    margin-block: 5px;
  }
  .entity{
    border: 5px;
    background-color: #0d6efd;
    padding: 5px;
    width: 120px;
    height: 20px;
    display: flex;
    align-items: center;
    /* display: inline-block */
    font-size: 0.8rem;
  }
  
  .spacer{
    width: 30px;
    height: 2px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
    position: relative;
    top: 15px
  }
  
  .gparents{
    .me_row{
      position: relative;
      left: 70px
    }
  }
  
  .children {
    &.two_or_less{
        position: relative;
        left: 80px
    };
    &.one_or_less{
        position: relative;
        left: 120px;
    };
    .names{
      gap: 5px; 
      padding-top: 0px;
      position: relative;
      .entity_parent{
        padding-top: 20px;
      }
    }
  }
  
  
  .desc::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    height: 25px;
    width: 1px;
    border: 1px solid #0d6efd;
    background-color: #0d6efd;
  
  }
  
  .desc.no_child::before{
    content: '';
    display: none;
  }

  /* .children .names::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 37%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 25px;
} */


  .names .entity_parent{
    position: relative;
  }
  
  /*We will use ::before and ::after to draw the connectors*/
  .children .names .entity_parent::before,
  .children .names .entity_parent::after {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
  }
  
  .children .names .entity_parent::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
  }
  
  /*We need to remove left-right connectors from elements without any siblings*/
  .children .names .entity_parent:only-child::after,
  .children .names .entity_parent:only-child::before {
    display: none;
  }
  
  /*Remove space from the top of single children*/
  .children .names .entity_parent:only-child {
    padding-top: 0;
  }
  
  /*Remove left connector from first child and right connector from last child*/
  .children .names .entity_parent:first-child::before,
  .children .names .entity_parent:last-child::after {
    border: 0 none;
  }
  
  /*Adding back the vertical connector to the last nodes*/
  .children .names .entity_parent:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
  }
  .children .names .entity_parent:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
  }