/* .matters{
    .forum-top-row{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5px;
        .button{
            color: blue
        }
    };

    .select-options{
        display: flex;
        justify-content: space-around;
        margin-bottom: 5px;
        .created-by-me, .created-for-me, .created-for-person{
            display: flex;
            gap: 5px;
            align-items: center;
        }
    };

    .forum-topics{

        .forum-topic{
            display: flex;
            justify-content: center;
            margin-bottom: 2px;
            border: 1px dotted blue;
            border-radius: 5px;
            gap: 10px;
            & p {
                margin: 0px!important;
            };
            & :hover{
                cursor: pointer;
            }
        }
    }
}


.forum-top-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.forum-top-row .button {
  color: blue;
}

.select-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.select-options .created-by-me,
.select-options .created-for-me,
.select-options .created-for-person {
  display: flex;
  gap: 5px;
  align-items: center;
}

.forum-topics {}

.forum-topics .forum-topic {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  border: 1px dotted blue;
  border-radius: 5px;
  gap: 10px;
}

.forum-topics .forum-topic p {
  margin: 0px !important;
}

.forum-topics .forum-topic :hover {
  cursor: pointer;
} */


.matters {}

.forum-top-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.forum-top-row .button {
  color: blue;
}

.select-options {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.select-options .created-by-me,
.select-options .created-for-me,
.select-options .created-for-person {
  display: flex;
  gap: 5px;
  align-items: center;
}

.forum-topics {}

.forum-topics .forum-topic {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  border: 1px dotted blue;
  border-radius: 5px;
  gap: 10px;
}

.forum-topics .forum-topic p {
  margin: 0px !important;
}

.forum-topics .forum-topic :hover {
  cursor: pointer;
}
