<nav
  class="navbar navbar-expand-md bg-body-tertiary position-sticky bg-light top-0"
  [ngStyle]="{ zIndex: '3' }"
>
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'" role="button">ClanHub</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4">
        <li *ngIf="!signedIn">
          <ul class="navbar-nav">
            <li
              class="nav-item"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link" aria-current="page" routerLink="/contactus"
                >Contact us</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
          </ul>
        </li>

        <li *ngIf="signedIn">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/individual"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                >Individual</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/lineage"
                routerLinkActive="active"
                data-bs-toggle="collapse"

                >Lineage</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/general_discussion"
                routerLinkActive="active"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                >General Discussion</a
              >
            </li>
          </ul>
        </li>
      </ul>

      <button
        class="btn btn-primary"
        (click)="auth()"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        data-testid = 'auth-button'
      >
        {{ !signedIn ? "SIGN IN" : "SIGN OUT" }}
      </button>
    </div>
  </div>
</nav>

