<div class="row">
  <div class="col-3">
    <div class="list-group">
      <button
        type="button"
        class="list-group-item list-group-item-action"
        aria-current="true"
        (click)="onChange('info')"
        [ngClass]="'info' === selected ? 'active' : ''"
      >
        Info
      </button>
      <button
        type="button"
        class="list-group-item list-group-item-action"
        (click)="onChange('media')"
        [ngClass]="'media' === selected ? 'active' : ''"
      >
        Media
      </button>
    </div>
  </div>
  <div class="col-9">
    <div>
      <div class="div" *ngIf="selected === 'media'">
        <nav class="nav nav-pills nav-justified">
          <a
            class="nav-link"
            aria-current="page"
            *ngFor="let item of media"
            (click)="changeMedia(item)"
            [ngClass]="selectedMedia === item ? 'active' : ''"
            role="button"
            >{{ item }}</a
          >
        </nav>
        <hr />
      </div>

      <div class="row">
        <div class="col-6">Media Name</div>
        <div class="col-6 text-center">
          Visibility
          <div class="d-flex justify-content-around">
            <p class="m-0">lineage</p>
            <p class="m-0">public</p>
          </div>
        </div>
        <hr class="m-0" />
        <div class="row" *ngFor="let viewable of viewables">
          <div class="col-6">{{ viewable.name }}</div>
          <div class="col-6 d-flex justify-content-around">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                [checked]="viewable.value === 'lineage'"
                [ngModel]="viewable.value === 'lineage'"
                [id]="'lineageCheckBox'+viewable.id"
                #lineage
                (change)="
                  logChange('lineage', viewable.id, lineage.checked, $event)
                "
              />
              <!-- <input
                class="form-check-input"
                type="checkbox"
                [checked]="viewable.value === 'lineage'"
                id="lineageCheckbox"
                (change)="handleCheckboxChange('lineage', viewable.id, $event)"
              /> -->
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                [checked]="viewable.value === 'public'"
                [ngModel]="viewable.value === 'public'"
                [id]="'publicCheckBox'+viewable.id"
                #public
                (change)="
                  logChange('public', viewable.id, public.checked, $event)
                "
              />
            </div>
          </div>
        </div>
      </div>
      <h1></h1>
      <!-- <div class="row">
        <div class="col"></div>
        <div class="col"></div>
      </div> -->
    </div>
  </div>
</div>
