<div class="row">
  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Please select from the options
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Append AS what to this node?</p>
          <!-- for the bottons -->
          <div
            class="d-flex w-100 mbody flex-wrap gap-3 justify-content-center"
          >
            <form
              #f="ngForm"
              class="w-100 d-flex flex-wrap justify-content-around"
            >
              <ng-container *ngFor="let node of nodes">
                <input
                  type="radio"
                  class="btn-check"
                  name="appendOptions"
                  id="{{ node }}"
                  autocomplete="off"
                  ngModel
                  value="{{ node }}"
                />
                <label
                  class="btn btn-outline-success"
                  for="{{ node }}"
                  style="flex-basis: calc(25% - 10px); margin-bottom: 20px"
                  >{{ node }}</label
                >
              </ng-container>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            #close
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="onAppend()">
            Continue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
