<p class="fs-4 fw-bold underline">
  <u>This will be the landing page of the app</u>
</p>
<div class="row">
  <div class="col-md-6">
    Most of the time, family history and lineage is lost. people disperse and
    travel far and wide. As a result of this, heritage and cultural values are
    lost. As this continues for multiple generations, little can be said of the
    values a tribe or village holds dear to themselves. There are a plethora of
    social medium and networking apps however they have failed to address the
    disappearing bond between family members and have instead focused on the
    larger communities. This neednt be so.
    <br />

    I am earnestly seeking for a solution to the problem. I want family ties to
    be preserved. I want to at a glance or with a simple lookup, connect with
    the brother of my wifes uncle, oe see my grand fathers brothers wife sisters
    son :) If that makes sense. I also want to ask a close knitted community
    questions and have them answer the questions. I want to have a family bible
    that would ppreserve memories. I want to travel back in time and see what
    happened at a certaiin time. I want bibliographies of people to be open
    source. Family members contributing to say a thing or two about the life of
    another person, a deceased member etc.

    <br />
    I want to capture life's event of the lineage through pictures and audio and
    videos. I want the deeds of people to like on and not just be forgotten in
    burial brochures. I want a village away from village
  </div>
  <div class="col-md-6">
    This app as you have sen would be well packed. It is also my plan to make it
    open source so that every one can contribute. Your suggestions are welcome
  </div>
</div>
