<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 pt-3">
    <form>
      <div class="">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
        />
      </div>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary" (click)="auth()">
          {{ signup ? "sign up" : "sign in" }}
        </button>
        <a class="btn btn-link" (click)="signup = !signup"
          >switch signup/signin</a
        >
      </div>
    </form>
  </div>
</div>
