<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-10 offset-sm-1 pt-3">
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="error" style="text-align: center" data-testid="error">
      <p>{{ error }}</p>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          name="email"
          ngModel
          required
          email
          data-testid="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          required
          minlength="6"
          data-testid="password"
        />
      </div>
      <div class="d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!authForm.valid"
          data-testid="submit-button"
        >
          {{ isLoginMode ? "sign in" : "sign up" }}
        </button>
        <a
          class="btn btn-link"
          (click)="isLoginMode = !isLoginMode"
          data-testid="switch-mode"
          >switch to {{ isLoginMode ? "sign up" : "sign in" }}</a
        >
      </div>
    </form>
  </div>
</div>
