<div class="row">
  <div class="col-md-6">
    <div class="chat mb-1">
      <div class="">Emmanuel - 9:49</div>
      <div class="">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quo?
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="details">
      <div class="chat mb-1">
        <div class="">Emmanuel - 9:49</div>
        <div class="">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, quo?
        </div>
      </div>
    </div>
    <div class="div">
      <textarea name="" id="" rows="2" class="w-100"></textarea>
    </div>
    <div class="div">
      <button class="btn btn-success">send</button>
    </div>
  </div>
</div>
