<div class="row">
  <div class="col-md-6">
    <div
      class="chat mb-1 border border-primary"
      role="button"
      *ngFor="let chat of chatParents"
      (click)="viewChat(chat.to)"
    >
      <div class="d-flex justify-content-between">
        <p>
          {{ chat.lastMessageBy }} - {{ chat.lastMessageDate.substring(0, 10) }}
        </p>
        <p class="fw-bold">{{ chat.name }}</p>
      </div>
      <div class="">
        {{ chat.lastMessage }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
