<div class="">{{ to }}</div>
<div
  class="d-flex border border-danger"
  *ngFor="let chat of chatDetails"
  [ngClass]="chat.sentByUser ? ' ps-3' : 'justify-content-end pe-3'"
>
  <div class="chat mb-1">
    <div class="">{{ chat.from }} - {{ chat.createdAt.substring(0, 10) }}</div>
    <div class="">
      {{ chat.message }}
    </div>
  </div>
</div>
<div class="div">
  <form>
    <textarea #message name="" id="" rows="2" class="w-100"></textarea>
  </form>
</div>
<div class="div">
  <button class="btn btn-success" (click)="sendMessage()">send</button>
</div>
