<div class="d-flex gap-3" *ngIf="audios.length === 0">
  <p><strong>There are not any Audios yet</strong></p>
</div>

<div class="row border mt-1" *ngFor="let audio of audios">
  <div class="col-lg-4">
    <audio controls>
      <source [src]="audio.url" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="col">
    <h6>{{ audio.name }}</h6>
    <p>
      {{ audio.description }}
    </p>
  </div>
  <div class="col-md-auto">
    <div
      class="d-flex flex-md-column justify-content-between h-100"
      *ngIf="mediaEditable"
    >
      <button
        class="btn btn-primary btn-sm"
        (click)="onEdit(audio._id)"
      >
        edit
      </button>
      <button class="btn btn-danger" (click)="onDelete(audio._id)">
        delete
      </button>
    </div>
  </div>
  <div class="" *ngIf="!mediaEditable">
    {{ audio.user.firstName }} - {{ audio.user.lastName }}
  </div>
</div>
