<div class="d-flex gap-3">
  <p>Total: <strong>149</strong></p>
  <p>Total: <strong>149</strong></p>
</div>
<!-- 
<div class="row border p-1 border-primary">
  <div class="col-sm-4">
    <div>
      <img
        src="https://static.vecteezy.com/system/resources/previews/011/844/721/non_2x/back-to-school-horizontal-banner-with-colorful-lettering-online-courses-learning-and-tutorials-web-page-template-online-education-concept-free-vector.jpg"
        alt=""
        height="100px"
      />
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="row">
      <div class="col-sm-12">
        <p>Name: <strong>Recording 1</strong></p>
        <div class="row">
          <label for="staticEmail" class="col-sm-4 col-form-label"
            >Visibility</label
          >
          <div class="col-sm-8">
            <select class="form-select" aria-label="Default select example">
              <option selected>Visible to</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary mt-2">Save</button>
          <button class="btn btn-danger mt-2">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row border mt-1" *ngFor="let audio of audios">
  <div class="col-lg-4">
    <audio controls>
      <source [src]="audio.url" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
  </div>
  <div class="col">
    <h6>{{ audio.name }}</h6>
    <p>
      {{ audio.description }}
    </p>
  </div>
  <div class="col-md-auto">
    <div
      class="d-flex flex-md-column justify-content-between h-100"
      *ngIf="mediaEditable"
    >
      <button
        class="btn btn-primary btn-sm"
        (click)="onEdit(audio._id)"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        edit
      </button>
      <button class="btn btn-danger" (click)="onDelete(audio._id)">
        delete
      </button>
    </div>
  </div>
  <div class="" *ngIf="!mediaEditable">
    {{ audio.user.firstName }} - {{ audio.user.lastName }}
  </div>
</div>

<app-modal-button [mediaEditable]="mediaEditable"></app-modal-button>
