<form #education="ngForm" (ngSubmit)="onSubmit(education)">
  <div
    class="mb-3 row"
    *ngIf="isEditable || (data.primarySchool && !isEditable)"
  >
    <label for="staticEmail" class="col-4 col-form-label">Primary School</label>
    <div class="col-8">
      <input
        type="text"
        id="staticEmail"
        value="email@example.com"
        name="primarySchool"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="data.primarySchool"
        [readOnly]="viewMode"
      />
    </div>
  </div>

  <div
    class="mb-3 row"
    *ngIf="isEditable || (data.secondarySchool && !isEditable)"
  >
    <label for="secondary" class="col-4 col-form-label">Secondary /High</label>
    <div class="col-8">
      <input
        type="text"
        id="secondary"
        name="secondarySchool"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="data.secondarySchool"
        [readOnly]="viewMode"
      />
    </div>
  </div>

  <div
    class="mb-3 row"
    *ngIf="isEditable || (data.tertiarySchool && !isEditable)"
  >
    <label for="staticEmail" class="col-4 col-form-label"
      >Tertiary /College</label
    >
    <div class="col-8">
      <input
        type="text"
        id="tertiary"
        name="tertiarySchool"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="data.tertiarySchool"
        [readOnly]="viewMode"
      />
    </div>
  </div>

  <div class="row mt-auto mb-5" *ngIf="isEditable">
    <div class="col-sm-2 ms-auto text-end" *ngIf="viewMode">
      <button class="btn btn-primary btn-sm" (click)="changeMode()">
        Edit
      </button>
    </div>

    <div class="d-flex justify-content-end gap-1" *ngIf="!viewMode">
      <button class="btn btn-sm btn-danger" (click)="changeMode()">
        cancel
      </button>
      <button type="submit" class="btn btn-sm btn-primary">save</button>
    </div>
  </div>
</form>
