<!-- Modal -->
<form #resourceForm="ngForm">
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Add {{ contentType }}
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <label for="">Name</label>
          <input
            class="form-control form-control-sm mb-3"
            type="text"
            placeholder="resource name"
            aria-label=".form-control-sm example"
            [ngModel]="displayable.name"
            name="name"
            required
          />
          <label for="">Description</label>
          <input
            class="form-control form-control-sm mb-3"
            type="text"
            placeholder="description"
            aria-label=".form-control-sm example"
            [ngModel]="displayable.description"
            name="description"
            required
          />

          <div class="" *ngIf="contentType !== 'text'">
            <label for="">Link</label>
            <input
              class="form-control form-control-sm mb-3"
              type="file"
              placeholder="link"
              aria-label=".form-control-sm example"
              (change)="onFileChange($event)"
              name="file"
              #fileInput
            />
            <p>{{ displayable.url }}</p>
          </div>
          <div *ngIf="contentType === 'text'">
            <textarea
              name="text"
              [ngModel]="displayable.text"
              id=""
              rows="5"
              class="w-100 form-control"
              >{{ displayable.text }}</textarea
            >
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onSubmit()"
            [disabled]="!resourceForm.form.valid"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
