<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-6">
    <div class="p-1 border">
      <div
        class="d-flex justify-content-between border mb-1"
        role="button"
        (click)="showPost('1')"
      >
        <p class="">This is the title</p>
        <p>(53)</p>
      </div>

      <div class="d-flex justify-content-between border">
        <strong>7/mar/23 13:44</strong><strong>James</strong>
      </div>
      <div class="d-flex">
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio,
          laborum deserunt accusantium nulla ducimus repellendus aut quas, eius
          amet soluta adipisci vero eos distinctio exercitationem ea et expedita
          culpa ullam! Voluptates iure ut laudantium reprehenderit optio,
          deserunt impedit corrupti vero natus recusandae libero consectetur
          illum perspiciatis vel quisquam excepturi voluptatibus?
        </p>
      </div>
    </div>
  </div>
</div>
