<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let image of images">
    <div class="card">
      <img
        [src]="image.url"
        class="card-img-top img-fluid"
        alt="{{ image.name }}"
        height="250px"
        width="100%"
      />
      <div class="card-body">
        <h5 class="card-title">{{ image.name }}</h5>
        <p class="card-text">{{ image.description }}</p>
        <div class="div">
          <div class="d-flex justify-content-between" *ngIf="mediaEditable">
            <a href="#" class="btn btn-primary" (click)="onDelete(image._id)"
              >Delete</a
            >
            <a
              class="btn btn-primary"
              (click)="onEdit(image._id)"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              >Edit</a
            >
          </div>
          <div class="div" *ngIf="!mediaEditable">
            {{ image.user.firstName }} - {{ image.user.lastName }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-button [mediaEditable]="mediaEditable"></app-modal-button>
