<div class="row">
  <div
    class="col-md-6 border border-primary rounded"
    *ngFor="let text of texts"
  >
    <h6>{{ text.name }}</h6>
    <div class="row">
      <div class="col-md-10">
        <p>
          {{ text.text }}
        </p>
      </div>
      <div
        class="col-md-2 border justify-content-between p-0 d-flex mt-1 flex-md-column"
        *ngIf="mediaEditable"
      >
        <button
          class="btn btn-sm btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          (click)="onEdit(text._id)"
        >
          edit
        </button>
        <button class="btn btn-sm btn-danger" (click)="onDelete(text._id)">
          delete
        </button>
      </div>
      <div
        class="col-md-auto justify-content-between d-flex mt-1 flex-md-column"
        *ngIf="!mediaEditable"
      >
        {{ text.user.firstName }} - {{ text.user.lastName }}
      </div>
    </div>
  </div>
</div>

<app-modal-button [mediaEditable]="mediaEditable"></app-modal-button>
