<div class="row">
  <div class="col-md-4 col-lg-3 d-md-block d-none">
    <ul>
      <li
        *ngFor="let item of navItems; let i = index"
        (click)="itemClicked(item)"
        [ngClass]="{ active: item === itemSelected }"
      >
        {{ item }}
      </li>
    </ul>
  </div>
  <div class="button d-md-none">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#menu-section"
      aria-controls="menu-section"
    >
      menu
    </button>
  </div>
  <div class="col-md-8 col-lg-9 border">
    <!-- all members -->
    <div
      class="row all-members"
      *ngIf="itemSelected === 'all members'"
      style="overflow-x: auto"
    >
      <!-- to switch the lineage -->
      <div class="col-3">
        <select
          [(ngModel)]="currentLineage"
          class="form-select"
          aria-label="Default select example"
          (change)="lineageChanged()"
        >
          <option *ngFor="let lineage of userLineage" value="{{ lineage }}">
            {{ lineage }}
          </option>
        </select>
      </div>
      <table style="width: 100%">
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>mother</th>
          <th>father</th>
          <th>remove</th>
          <th>chat</th>
          <th>view</th>
        </tr>
        <tr *ngFor="let member of filteredMembersList">
          <td>{{ member.firstName }}</td>
          <td>{{ member.lastName }}</td>
          <td>{{ member.mother }}</td>
          <td>{{ member.father }}</td>
          <td
            style="font-size: 0.7rem"
            (click)="changeMemberStatus(member.id, 'remove')"
          >
            <button>remove</button>
          </td>
          <td>
            <!-- <a
              [routerLink]="['/individual', 'chats', member.id]"
              [queryParams]="{ firstName: member.firstName }"
              class="link-primary"
              (click)="openChat(member.id, member.firstName)"
              >message</a
            > -->
            <span
              class="link-primary"
              role="button"
              (click)="openChat(member.id, member.firstName)"
              >message</span
            >
          </td>
          <td style="font-size: 0.7rem" (click)="viewNode(member.id)">
            <button>view</button>
          </td>
        </tr>
      </table>
    </div>
    <!-- generate code here -->
    <div class="row generate-code" *ngIf="itemSelected === 'generate code'">
      <div class="col-lg-9" style="overflow-x: auto">
        <table style="width: 100%">
          <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>father</th>
            <th>spouse</th>
          </tr>
          <tr
            *ngFor="let member of membersList; let i = index"
            [ngClass]="{ 'active-row': i === t2SelectedRow }"
            (click)="selectRow(2, i)"
            role="button"
          >
            <td>{{ member.firstName }}</td>
            <td>{{ member.lastName }}</td>
            <td>{{ member.mother }}</td>
            <td>{{ member.father }}</td>
            <td>{{ member.husband || member.wife }}</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-3">
        <div class="append-replace-box mt-3">
          <div class="div d-flex justify-content-between flex-lg-column">
            <div class="replace-box">
              <input
                type="radio"
                id="replace"
                name="replace_append"
                value="replace"
                [(ngModel)]="joinType"
              />
              <label>replace</label>
            </div>
            <div class="append-button">
              <input
                type="radio"
                id="append"
                name="replace_append"
                value="append"
                [(ngModel)]="joinType"
              />
              <label>append</label>
              <select
                name="append"
                id="append"
                [(ngModel)]="appendMode"
                *ngIf="joinType === 'append'"
              >
                <option value="none">none</option>
                <option value="father">father</option>
                <option value="mother">mother</option>
                <option value="husband">husband</option>
                <option value="wife">wife</option>
                <option value="sibling">sibling</option>
                <option value="child">child</option>
              </select>
            </div>
          </div>
          <div class="mx-auto">
            <button class="" (click)="generateCode('generateOnly')">
              generate code
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- see generated codes -->
    <div class="generated-codes" *ngIf="itemSelected === 'generated codes'">
      <table style="width: 100%">
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>mother</th>
          <th>append as</th>
          <th>code</th>
          <th>cancel</th>
        </tr>
        <tr *ngFor="let member of generatedRequest; let i = index">
          <td>{{ member.userData.firstName }}</td>
          <td>{{ member.userData.lastName }}</td>
          <td>{{ member.userData.mother?.firstName || "none" }}</td>
          <td>{{ member.mode }}</td>
          <td>{{ member.code }}</td>
          <td style="font-size: 0.7rem" (click)="revokeCode(member.id)">
            <button>cancel</button>
          </td>
        </tr>
      </table>
    </div>
    <!-- see incoming requests -->
    <div
      style="overflow-x: auto"
      class="incoming-requests"
      *ngIf="itemSelected === 'incoming requests'"
    >
      <table style="width: 100%">
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>mother</th>
          <th>father</th>
          <th>appendAs</th>
          <th>firstname</th>
          <th>lastname</th>
          <th>mother</th>
          <th>father</th>
          <th>decline</th>
          <th>merge</th>
          <th>view</th>
        </tr>
        <tr
          *ngFor="let member of incomingRequest; let i = index"
          (click)="selectRow('incomingRequest', i)"
          role="button"
        >
          <td>{{ member.userData.firstName }}</td>
          <td>{{ member.userData.lastName }}</td>
          <td>{{ member.userData.mother?.firstName }}</td>
          <td>{{ member.userData.father?.firstName }}</td>
          <td>{{ member.mode }}</td>
          <td>{{ member.nodeTo.firstName }}</td>
          <td>{{ member.nodeTo.lastName }}</td>
          <td>{{ member.nodeTo?.mother?.firstName }}</td>
          <td>{{ member.nodeTo?.father?.firstName }}</td>
          <td style="font-size: 0.7rem">
            <button (click)="declineEnableRequest(member.id, i)">
              {{ member.status === "declined" ? "enable" : "decline" }}
            </button>
          </td>
          <td style="font-size: 0.7rem">
            <button (click)="beginMerge(member.id)">merge</button>
          </td>
          <td style="font-size: 0.7rem" (click)="viewNode(member.userData.id)">
            <button>view</button>
          </td>
        </tr>
      </table>
    </div>
    <!-- request status' -->
    <div
      style="overflow-x: auto"
      class="incoming-requests"
      *ngIf="itemSelected === 'request status'"
    >
      <table style="width: 100%" *ngIf="requestStatusList">
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>mother</th>
          <th>father</th>
          <th>appendAs</th>
          <th>firstname</th>
          <th>lastname</th>
          <th>mother</th>
          <th>father</th>
          <th>status</th>
          <th>action</th>
        </tr>
        <tr
          *ngFor="let member of requestStatusList; let i = index"
          (click)="selectRow('requestStatus', i)"
          role="button"
        >
          <td>{{ member.userData.firstName }}</td>
          <td>{{ member.userData.lastName }}</td>
          <td>{{ member.userData.mother?.firstName }}</td>
          <td>{{ member.userData.father?.firstName }}</td>
          <td>{{ member.mode }}</td>
          <td>{{ member.nodeTo.firstName }}</td>
          <td>{{ member.nodeTo.lastName }}</td>
          <td>{{ member.nodeTo?.mother?.firstName }}</td>
          <td>{{ member.nodeTo?.father?.firstName }}</td>
          <td style="font-size: 0.7rem">status</td>
          <td style="font-size: 0.7rem">
            <button>action</button>
          </td>
        </tr>
      </table>
      <div *ngIf="!requestStatusList">
        <p>No request currently</p>
      </div>
    </div>
    <!-- find people -->
    <div class="row find-people" *ngIf="itemSelected === 'find people'">
      <div class="d-flex my-1 flex-wrap gap-1 justify-content-between">
        <form (ngSubmit)="findPeople()" [formGroup]="form">
          <input
            type="text"
            formControlName="lastName"
            [placeholder]="'lastname'"
          />

          <input type="text" formControlName="state" [placeholder]="'state'" />

          <input
            type="text"
            formControlName="village"
            [placeholder]="'village'"
          />

          <button type="submit">find</button>
        </form>
      </div>
      <hr />

      <div class="col-md-12">
        <table style="width: 100%" *ngIf="peopleFound?.length">
          <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>father</th>
            <th>spouse</th>
            <th>view</th>
          </tr>
          <tr
            *ngFor="let person of peopleFound; let i = index"
            [ngClass]="{ 'active-row': i === t4SelectedRow }"
            (click)="selectRow(4, i)"
            role="button"
          >
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.mother }}</td>
            <td>{{ person.father }}</td>
            <td>{{ person.wife || person.husband }}</td>
            <td>
              <button
                style="font-size: 0.7rem"
                (click)="viewNode(person.id, true)"
              >
                view
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-6 d-none">
        <div class="append-replace-box mt-3 border">
          <span>You want to take over the other Node</span>
          <div class="div d-flex justify-content-between">
            <div class="replace-box">
              <input
                type="radio"
                id="replace"
                name="replace_append"
                value="replace"
              />
              <label>replace</label>
            </div>
            <div class="append-button">
              <input
                type="radio"
                id="append"
                name="replace_append"
                value="append"
              />
              <label>append</label>
              <select name="append" id="append">
                <option value="none">none</option>
                <option value="father">father</option>
                <option value="mother">mother</option>
                <option value="husband">husband</option>
                <option value="wife">wife</option>
                <option value="sibling">sibling</option>
                <option value="child">child</option>
              </select>
            </div>
          </div>
          <div class="mx-auto">
            <button class="">send request</button>
          </div>
        </div>
      </div>
      <!-- aux -->
      <div class="row mt-3">
        <div class="col-md-6">
          <input
            type="radio"
            name="rep-mode"
            value="me"
            [(ngModel)]="controlledBy"
            (change)="controlledByChanged()"
          />
          <label>You want to take over the other Node</label>
        </div>
        <div class="col-md-6">
          <input
            type="radio"
            name="rep-mode"
            value="them"
            [(ngModel)]="controlledBy"
            (change)="controlledByChanged()"
          />
          <label>Ask them to take over a node</label>
        </div>
      </div>
      <hr class="mb-0" />
      <!-- controlled by me -->
      <div class="col-md-6" *ngIf="controlledBy === 'me'">
        <div class="append-replace-box mt-3 border">
          <span>You want to take over the other Node</span>
          <form #form="ngForm" (submit)="generateCode2(form.value)">
            <div class="div d-flex justify-content-between">
              <div class="replace-box">
                <input
                  type="radio"
                  id="replace"
                  name="replace_append"
                  value="replace"
                  ngModel
                />
                <label>replace</label>
              </div>
              <div class="append-button">
                <input
                  type="radio"
                  id="append"
                  name="replace_append"
                  ngModel
                  value="append"
                />
                <label>append</label>
                <select name="append" id="append" ngModel>
                  <option value="none">none</option>
                  <option value="father">father</option>
                  <option value="mother">mother</option>
                  <option value="husband">husband</option>
                  <option value="wife">wife</option>
                  <option value="sibling">sibling</option>
                  <option value="child">child</option>
                </select>
              </div>
            </div>
            <div class="mx-auto">
              <button class="" type="submit">send request</button>
            </div>
          </form>
        </div>
      </div>
      <!-- controlled by them -->
      <div class="col-md-12" *ngIf="controlledBy === 'them'">
        <table style="width: 100%">
          <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>append as</th>
            <th>code</th>
          </tr>
          <tr
            *ngFor="let member of codesList; let i = index"
            [ngClass]="{ 'active-row': i === t5SelectedRow }"
            (click)="selectRow(5, i)"
            role="button"
          >
            <td>{{ member.userData.firstName }}</td>
            <td>{{ member.userData.lastName }}</td>
            <td>{{ member.userData.mother?.firstName || "none" }}</td>
            <td>{{ member.mode }}</td>
            <td>{{ member.code }}</td>
          </tr>
        </table>
        <div class="mt-1">
          <button (click)="sendRequestToExternal()">send</button>
        </div>
      </div>
    </div>
    <!-- my request -->
    <div class="row sent-requests" *ngIf="itemSelected === 'sent requests'">
      <div class="col-md-12" style="overflow-x: auto">
        <table style="width: 100%">
          <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>father</th>
            <th>append as</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>father</th>
            <th>status</th>
            <th>view</th>
            <th>cancel</th>
          </tr>
          <tr
            *ngFor="let member of sentRequest; let i = index"
            (click)="selectRow(6, i)"
            role="button"
          >
            <td>{{ member.userData.firstName }}</td>
            <td>{{ member.userData.lastName }}</td>
            <td>{{ member.userData.mother?.firstName }}</td>
            <td>{{ member.userData.father?.firstName }}</td>
            <td>{{ member.mode }}</td>
            <td>{{ member.nodeTo.firstName }}</td>
            <td>{{ member.nodeTo.lastName }}</td>
            <td>{{ member.nodeTo?.mother?.firstName }}</td>
            <td>{{ member.nodeTo?.father?.firstName }}</td>
            <td>{{ member.status }}</td>
            <td
              style="font-size: 0.7rem"
              (click)="
                viewNode(
                  member.nodeTo.id === member.generatedBy
                    ? member.userData.id
                    : member.nodeTo.id
                )
              "
            >
              <button>view</button>
            </td>
            <td style="font-size: 0.7rem">
              <button (click)="revokeCode(member.id)">cancel</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- apply and view codes -->
    <div class="row apply-codes" *ngIf="itemSelected === 'apply code'">
      <div class="col-md-12 my-3 gap-1">
        <div class="">
          <input type="text" #codeInput />
          <button (click)="seeSourceNode(codeInput.value)">see node</button>
          <button>update sender</button>
        </div>
      </div>

      <div class="col-md-12" style="overflow-x: auto">
        <table style="width: 100%">
          <tr>
            <th>code</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>father</th>
            <th>appendas</th>
            <th>view</th>
          </tr>
          <tr *ngIf="foundPersonFromCode">
            <td>{{ foundPersonFromCode.code }}</td>
            <td>{{ foundPersonFromCode.userData.firstName }}</td>
            <td>{{ foundPersonFromCode.userData.lastName }}</td>
            <td>{{ foundPersonFromCode.userData?.mother?.firstName }}</td>
            <td>{{ foundPersonFromCode.userData?.father?.firstName }}</td>
            <td>{{ foundPersonFromCode.mode }}</td>
            <td
              style="font-size: 0.7rem"
              (click)="viewNode(foundPersonFromCode.userData.id)"
            >
              <button>view</button>
            </td>
          </tr>
        </table>
      </div>

      <p class="mb-0 mt-1">select a member to be merged</p>
      <div class="row all-members" style="overflow-x: auto">
        <table style="width: 100%">
          <tr>
            <th>firstname</th>
            <th>lastname</th>
            <th>mother</th>
            <th>father</th>
            <th>view</th>
          </tr>
          <tr
            *ngFor="let member of membersList; let i = index"
            [ngClass]="{ 'active-row': i === tMembersApplyCode }"
            (click)="selectRow('tMembersApplyCode', i)"
            role="button"
          >
            <td>{{ member.firstName }}</td>
            <td>{{ member.lastName }}</td>
            <td>{{ member.mother }}</td>
            <td>{{ member.father }}</td>
            <td style="font-size: 0.7rem" (click)="viewNode(member.id)">
              <button>view</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!-- the merge process -->
    <div class="row" *ngIf="itemSelected === 'merge'">
      <div class="d-flex justify-content-between align-items-center">
        <label for="">firstname</label>
        <p class="mb-0">Emmanuel</p>
        <input type="text" />
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <label for="">lastname</label>
        <p class="mb-0">Emmanuel</p>
        <input type="text" class="fs-6" />
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <label for="">lastname</label>
        <p class="mb-0">Emmanuel</p>
        <input type="text" class="fs-6" />
      </div>
    </div>
    <!-- archived -->
    <div
      style="overflow-x: auto"
      class="archived"
      *ngIf="itemSelected === 'archived'"
    >
      <table style="width: 100%" *ngIf="archivedList">
        <tr>
          <th>firstname</th>
          <th>lastname</th>
          <th>delete</th>
          <th>reinstate</th>
          <th>view</th>
        </tr>
        <tr
          *ngFor="let member of archivedList; let i = index"
          (click)="selectRow('archived', i)"
          role="button"
        >
          <td>{{ member.firstName }}</td>
          <td>{{ member.lastName }}</td>
          <td style="font-size: 0.7rem">
            <button>delete</button>
          </td>
          <td style="font-size: 0.7rem">
            <button (click)="changeMemberStatus(member.id, 'reinstate')">
              reinstate
            </button>
          </td>
          <td style="font-size: 0.7rem">
            <button (click)="viewNode(member.id)">view</button>
          </td>
        </tr>
      </table>
      <div *ngIf="!archivedList">
        <p>No archived</p>
      </div>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="menu-section"
  aria-labelledby="menu-sectionLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="menu-sectionLabel">admin options</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul>
      <li
        *ngFor="let item of navItems; let i = index"
        (click)="itemClicked(item)"
      >
        {{ item }}
      </li>
    </ul>
  </div>
</div>
