<div class="d-flex gap-3" *ngIf="videos.length === 0">
  <p><strong>There are not any Videos yet</strong></p>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6" *ngFor="let video of videos">
    <div>
      <!-- <iframe
        width="100%"
        [src]="video.url | safe"
        title="The spelled-out intro to language modeling: building makemore"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe> -->
      <video width="100%" controls>
        <source [src]="video.url | safe" type="video/mp4" />
      </video>
    </div>

    <div class="row">
      <div class="col-12">
        <p>
          {{ video.description }}
        </p>
      </div>
      <div class="col-12 d-flex justify-content-between" *ngIf="mediaEditable">
        <button class="btn btn-danger">delete</button>
        <button class="btn btn-primary mt-auto">edit</button>
      </div>
      <div class="col-12 d-flex" *ngIf="!mediaEditable">
        <p class="">{{ video.user.firstName }} - {{ video.user.lastName }}</p>
      </div>
    </div>
  </div>
</div>
