<div class="row">
  <div class="col-md-6">
    <form class="d-flex" role="search" #myForm="ngForm" (submit)="onSubmit()">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="searchText"
        [(ngModel)]="searchText"
      />
      <button class="btn btn-outline-success btn-sm" type="submit">
        Search
      </button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked"
        name="searchInside"
        [(ngModel)]="searchInside"
        (change)="toggleLineageSelector()"
      />
      <label class="form-check-label" for="flexCheckChecked">
        search in my lineage
      </label>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between"
          role="button"
          *ngFor="let person of foundEntries; let i = index"
          (click)="selectResult(i)"
          [class.active]="person.id === selectedEntry?.id"
        >
          <p>{{ person.firstName }} {{ person.lastName }}</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6" *ngIf="selectedEntry">
      <div class="d-flex justify-content-between">
        <p>Firstname</p>
        <p>{{ selectedEntry.firstName }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Lastname</p>
        <p>{{ selectedEntry.lastName }}</p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Mother</p>
        <p>
          {{ selectedEntry.mother?.firstName }}
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Father</p>
        <p>
          {{ selectedEntry.father?.firstName }}
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-primary btn-sm"
          (click)="showTree(selectedEntry.id)"
        >
          show tree
        </button>
        <button
          class="btn btn-primary btn-sm"
          (click)="showDetails(selectedEntry.id)"
        >
          Show details
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <button
type="button"
class="btn btn-primary"

>
Launch static backdrop modal
</button> -->
