/* .matter{
    & p{
        margin-bottom: 0.5px;
    };
    padding: 5px;
    border: 1px dotted blue;
    .top-row{
        display: flex;
        justify-content: space-between;
        gap: 10%;
        .title{
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            white-space: nowrap;
            font-weight: bold;
            @media(max-width: 320px){
                & {
                    flex-direction: column;
                    font-size: 80%;
                  }
            };
            @media(max-width: 760px){
                & {
                    font-size: 90%;
                  }
            }
        };
        & button{
            font-size: 0.7rem;
            border-radius: 20%;
            border: 1px solid blue;
            background-color: blue;;
        };
        .admin-options{
            position: relative;
            .pop-over{
                &.visible{
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 30px;
                    right: 10px;
                    border: 1px solid blue;
                    gap: 1px;
                    background-color: blue;
                };
                &.not-visible{
                    display:none;
                };
                & *{
                    background-color: cornflowerblue;
                    cursor: pointer;
                    white-space: nowrap;
                    padding-inline: 5px;
                }
            }
        }
    }
    .admin-row{
        display: none;
        justify-content: space-between;
        & button{
            font-size: 0.7rem;
            border-radius: 20%;
            border: 1px solid blue;
            background-color: blue;;
        }
    };
    .likes{
        & span{
            cursor: pointer;
            
        };
        & + span{
            color: blue;
        };
        .like{
            font-size: 90%;
            text-decoration: underline;
            
        }
    };
    .posts{
        .post{
            border: 1px dotted blue;
            font-size: 80%;
            margin-block: 0.5rem;
            .header{
                display: flex;
                justify-content: space-between;
                border: 1px dotted blue;
            }
        }
    }
    .new-comment{
        .textbox{
            & textarea{
                width: 100%;
            }
        };
        .bottom{
            display: flex;
            justify-content: end;
        }
    }
} */

/* Matter */
.matter p {
    margin-bottom: 0.5px;
}
.matter {
    padding: 5px;
    border: 1px dotted blue;
}

/* Top Row */
.matter .top-row {
    display: flex;
    justify-content: space-between;
    gap: 10%;
}

.matter .top-row .title {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    white-space: nowrap;
    font-weight: bold;
}

@media (max-width: 320px) {
    .matter .top-row .title {
        flex-direction: column;
        font-size: 80%;
    }
}

@media (max-width: 760px) {
    .matter .top-row .title {
        font-size: 90%;
    }
}

.matter .top-row button {
    font-size: 0.7rem;
    border-radius: 20%;
    border: 1px solid blue;
    background-color: blue;
}

.matter .top-row .admin-options {
    position: relative;
}

.matter .top-row .admin-options .pop-over.visible {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    right: 10px;
    border: 1px solid blue;
    gap: 1px;
    background-color: blue;
}

.matter .top-row .admin-options .pop-over.not-visible {
    display: none;
}

.matter .top-row .admin-options .pop-over * {
    background-color: cornflowerblue;
    cursor: pointer;
    white-space: nowrap;
    padding-inline: 5px;
}

/* Admin Row */
.matter .admin-row {
    display: none;
    justify-content: space-between;
}

.matter .admin-row button {
    font-size: 0.7rem;
    border-radius: 20%;
    border: 1px solid blue;
    background-color: blue;
}

/* Likes */
.matter .likes span {
    cursor: pointer;
}

.matter .likes span + span {
    color: blue;
}

.matter .likes .like {
    font-size: 90%;
    text-decoration: underline;
}

/* Posts */
.matter .posts .post {
    border: 1px dotted blue;
    font-size: 80%;
    margin-block: 0.5rem;
}

.matter .posts .post .header {
    display: flex;
    justify-content: space-between;
    border: 1px dotted blue;
}

/* New Comment */
.matter .new-comment .textbox textarea {
    width: 100%;
}

.matter .new-comment .bottom {
    display: flex;
    justify-content: end;
}
