<p>Contributions and funds</p>
<div class="row">
  <div class="col-4">
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
    >
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col">Name</div>
  <div class="col">Amount</div>
  <div class="col">Date verified</div>
</div>
<div class="row">
  <p class="col">Name</p>
  <p class="col">Amount</p>
  <p class="col">Date verified</p>
</div>
