<form #basicForm="ngForm" (ngSubmit)="onSubmit(basicForm)" *ngIf="!isLoading">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="mt-3">
        <label for="formFile" class="form-label">Profile Picture</label>
        <div>
          <img
            [src]="basicDetails.photo"
            alt="img-thumbnail"
            width="100px"
            height="100px"
          />
        </div>
        <input
          class="form-control form-control-sm"
          type="file"
          id="formFile"
          *ngIf="!viewMode"
          name="profilePicture"
          ngModel
          (change)="onFileChange($event)"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <label for="email" class="col-4 col-form-label">Firstname</label>
    <div class="col-8 col-md-3">
      <input
        name="firstName"
        for="firstName"
        type="text"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="basicDetails.firstName"
        [readOnly]="viewMode"
      />
    </div>
  </div>

  <div class="row">
    <label for="email" class="col-4 col-form-label">Lastname</label>
    <div class="col-8 col-md-3">
      <input
        name="lastName"
        for="lastName"
        type="text"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="basicDetails.lastName"
        [readOnly]="viewMode"
      />
    </div>
  </div>
  <div class="row">
    <label for="gender" class="col-4 col-form-label">Gender</label>
    <div class="col-8 col-md-3">
      <select
        class="form-select form-select-sm"
        aria-label=".form-select-sm example"
        name="gender"
        for="gender"
        [disabled]="viewMode"
        [ngModel]="basicDetails.gender"
      >
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
  </div>
  <div
    class="row"
    *ngIf="isEditable || (basicDetails.dateOfBirth && !isEditable)"
  >
    <label for="email" class="col-4 col-form-label">Date of Birth</label>
    <div class="col-8 col-md-3">
      <input
        name="dateOfBirth"
        for="dob"
        type="date"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="basicDetails?.dateOfBirth?.substring(0, 10)"
        [readOnly]="viewMode"
        placeholder="1992-09-29"
      />
    </div>
  </div>
  <div
    class="row"
    *ngIf="isEditable || (basicDetails.phoneNumber && !isEditable)"
  >
    <label for="phone number" class="col-4 col-form-label">Phone Number</label>
    <div class="col-8 col-md-3">
      <input
        name="phoneNumber"
        for="phoneNumber"
        type="number"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="basicDetails.phoneNumber"
        [readOnly]="viewMode"
      />
    </div>
  </div>
  <div class="row" *ngIf="isEditable || (basicDetails.facebook && !isEditable)">
    <label for="facebook" class="col-4 col-form-label">Facebook Address</label>
    <div class="col-8 col-md-3">
      <input
        name="facebook"
        for="facebook"
        type="text"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="basicDetails.facebook"
        [readOnly]="viewMode"
      />
    </div>
  </div>
  <div class="row" *ngIf="isEditable || (basicDetails.address && !isEditable)">
    <label for="facebook" class="col-4 col-form-label">Address</label>
    <div class="col-8 col-md-7">
      <input
        name="address"
        for="address"
        type="text"
        [ngClass]="viewMode ? 'form-control-plaintext' : 'form-control'"
        [ngModel]="basicDetails.address"
        [readOnly]="viewMode"
      />
    </div>
  </div>

  <div class="row mt-auto mb-5" *ngIf="isEditable">
    <div class="col-sm-2 ms-auto text-end" *ngIf="viewMode">
      <button class="btn btn-primary btn-sm" (click)="changeMode()">
        Edit
      </button>
    </div>

    <div class="d-flex justify-content-end gap-1" *ngIf="!viewMode">
      <button class="btn btn-sm btn-danger" (click)="changeMode()">
        cancel
      </button>
      <button type="submit" class="btn btn-sm btn-primary">save</button>
    </div>
  </div>
</form>
