<div class="row justify-content-center">
  <div class="col-10">
    <div class="mb-3 mt-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Example textarea</label
      >
      <textarea
        class="form-control form-control-plaintext"
        id="exampleFormControlTextarea1"
        rows="3"
        readonly
        placeholder="This simple paragraph tells you all you some of the things you need to know about me. I am a poet and a software developer. I am also a machine learning enthuthiast"
      ></textarea>
    </div>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col-2 offset-10">
    <button class="btn btn-primary">Edit</button>
  </div>
</div>
