<ul class="nav justify-content-center"  *ngIf="selected === 2">
  <!-- <li class="nav-item me-3">
      <a class="nav-link active" href="#">Switch</a>
    </li> -->
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Tree</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Discussion</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Birthdays</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Funds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Media</a>
  </li>
  <!-- <li class="nav-item">
      <a class="nav-link" href="#">Search</a>
    </li> -->
  <li>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </li>
  <li><button class="btn btn-primary ms-5">Create Node</button></li>
</ul>
